.about {
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    overflow-y: scroll;
	position: relative;
}

  
.cardcontainer {
    display: grid;
    grid-template-areas: repeat(auto-fill, minmax(1000px, 1fr));
    gap: 30px;
    margin-top: 20px;

}

.card_about{
    display: grid;
    gap: 20px;
    font-size: 20px;
}

.card_redes {
    display: grid;
    gap: 30px;
    margin-top: 50px;
}


.card {
    border: 1px solid #000000;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

