.login {
	height: 100%;
	display: flex;
	justify-content: center;
}

.login > div {
/* 	border-left: 1px solid black;
	border-right: 1px solid black; */
	padding: 50px 0px;
}

.error {
	width: 400px;
	align-self: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.error > p {
	color: red;
	font-weight: bold;
	text-align: center;
}