.login {
	height: 100%;
	display: flex;
	justify-content: center;
}

.login > div {
/* 	border-left: 1px solid black;
	border-right: 1px solid black; */
}

.login .title {
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom: 2px solid black;
	padding-bottom: 10px;
}
