.configuser {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.configuser > div {
	display: flex;
	text-align: center;
	align-items: center;
}

.configuser > div > a {
	height: 50px;
	width: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 0.99em;

}
.configuser > div > button {
	width:  200px;
}

.configuser > div  > span{
	display: grid;
	place-items: center;
}

