.configuser {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.configuser > div {
	display: flex;
	text-align: center;
	align-items: center;
}

.configuser > div > a {
	width: 40%;
}
.configuser > div > button {
	min-width: 40%;
}

.configuser > div  > span{
	display: grid;
	place-items: center;
}

