.home {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.welcome {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.welcomeSubdivision {
	display: flex;
	gap: 10px;
	align-items: center;
}


