.config {
	display: grid;
	height: 100%;
	grid-template-areas: 
	"navcontainer configcontainer";
	grid-template-columns: 200px auto;
	grid-template-rows: 1fr;
	gap: 5px;
}

.confignavbarcontainer {
	grid-area: navcontainer;
}

.confignavbarcontainer > nav {
	padding: 10px;
	height: 100%;
	display: flex;
	flex-direction: column;
	border: 2px solid black;
	gap: 5px;
}

.confignavbarcontainer > nav > a {
	height: 49px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 3px solid black;
}

.configcontainer {
	grid-area: configcontainer;
	border: 2px solid black;
	padding: 10px;
}