.navbar {
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: end;
	gap: 5px;
	font-size: 1em;
	border: 1px solid black;
}

.navbar > a {
	text-decoration: none;
	padding: 10px;
	border: 1px solid black;
}

.active {
	background-color: #000;
	color: white;
}