.refreshButton {
	height: 100%;
	width: 100%;
}

.refreshButton > button {
	height: 100%;
	width: 100%;
	border: none;
	cursor: pointer;
}

.refreshButton > button:hover {
	background-color: black;
	color: white;
	transition: 0.3s;
}