.footer {
	display: flex;
	align-items: center;
	justify-content: center;

	font-weight: bold;
	font-size: 1.1em;
	border: 2px solid black;

	grid-area: footer;
}

.footer a {
	padding: 3px 7px;
	border-radius: 10px;
}