.post {
	min-width: 300px;
	width: 600px;
	height: 400px;

	/* box-shadow: 1px 2px 3px black; */
	padding: 20px;
	border: 2px solid black;

	display: flex;
	flex-direction: column;
	gap: 10px;
}

.post > div {
	word-wrap: break-word;
}

.post > .topinfo {
	display: flex;
	justify-content: space-between;
}
.post > .title {
	padding: 5px 0px;
	text-align: justify;
}
.post > .description {
	padding: 10px;
	flex-basis: 100%;
	width: 100%;
	overflow: hidden;
	position: relative;
	line-break: anywhere;
	text-align: justify;
}
.post > .description > .fadeeffect {
	position: absolute;
	height: 100%;
	bottom: 0;
	left: 0;
	right: 0;
	display: grid;
	place-items: center;
	background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(254,254,254,0) 100%);  
}

.quizlinks {
	display: flex;
	flex-direction: column;
	gap: 5px;
	padding-top: 10px;
}

.quizlink {
	text-indent: 15px;
}

.linktoenter {
	
}
.linktoenter > a {
	height: 60px;
	display: grid;
	border: 2px solid black;
	place-items: center;
}
.linktoenter > a:hover {
	background-color: black;
	color: white;
	transition: 0.3s;
}

