.subnavbar {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 10px;
	gap: 10px;
}

.subnavbar > .subnavbarunfixed {
	width: 100%;
	height: 60px;
	border: 3px solid black;
}
.subnavbar > .subnavbarfixed {
	display: flex;
	gap: 10px;
	width: 100%;
}

.subnavbar > div >  a {
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-basis: 50%;
}

/* CONFIG LINK */
/* CONFIG INNACTIVE */
.configlink {
	background-color: white;
	border: 3px solid black;
}
.configlink img {
	height: 32px;
	width: 32px;
}
.configlink:hover {
	border-color: white;
	filter: invert(100%);
}

/* CONFIG ACTIVE */
.configlinkactive {
	border-color: black;
	background-color: white;
	filter: invert(100%);
}
.configlinkactive img {
	height: 32px;
	width: 32px;
	display: flex;
	background-color: white;
}

.contactlink {
	height: 60px;
	border: 3px solid black;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-basis: 50%;
}

.contactlink:hover {
	background-color: black;
	color: white;
}