.main {
	grid-area: main;
	overflow-y: scroll;
	position: relative;
}

.main > div {
	padding: 10px;
}

.App {
	display: grid;
	gap: 3px;
	grid-template-areas: 
		"header header"
		"navbar main"
		"footer footer";
	grid-template-rows: 80px 1fr 80px;
	grid-template-columns: auto 1fr;
}

.navcontainer {
	border: 2px solid black;
	grid-area: navbar;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

