@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');

/*
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Sora', sans-serif;
*/

:root {

}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;

	font-family: 'Poppins', sans-serif;
	font-size: 1.02em;
	color: black;
}

html, body, #root, .App {
	height: 100%;
	width: 100%;
}

html, body {
	display: flex;
	justify-content: center;
}

#root {
	max-width: 1920px;
}

/* DESIGN 1 */
/* .App {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
*/

/* DESIGN 2 */
.App {
	display: grid;
	gap: 5px;
	grid-template-areas: 
		"header header"
		"navbar main"
		"footer footer";
	grid-template-rows: 80px auto 80px;
	grid-template-columns: auto 1fr;
}


/* FORMULÃRIOS */
form {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

form > div {
	display: flex;
	justify-content: space-between;
}

form label {
	width: fit-content;
	display: flex;
	align-items: center;
	justify-content: end;
	margin-right: 1em;
}

form input {
	height: 50px;
	padding: 5px;
	border: 3px solid black;
}

form input[type="submit"] {
	height: 50px;
	width: 200px;
	align-self: center;

	border: 3px solid black;
	background-color: white;
	color: black;
	font-weight: bold;
	cursor: pointer;
	margin-left: 0.60em;
	transition: 0.3s;
}

form input[type="submit"]:hover {
	color: white;
	background-color: black;
}

p.loading {
	position: absolute;
	top: 50%;
	left: 50%;
}