@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');

/*
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Sora', sans-serif;
*/

/* General styles */

:root {

}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Sora', sans-serif;
	font-size: 1.01em;
	color: black;
}


button, a {
	border-radius: 7px;
}

html, body, #root, .App {
	height: 100%;
	width: 100%;
}

html, body {
	padding: 1px;
	display: flex;
	justify-content: center;
}

#root {
	max-width: 1920px;
}

span {
	font-weight: bold;
}

p {
	font-size: 1.01em;
}

h1 {
	font-size: 1.2em;
}

a, input[type="submit"], button  {
	font-size: 1.1em;
	text-decoration: none;
	cursor: pointer;
	transition: 0.3s;
	color: black;
	border: 3px solid black;
	background-color: white;
	font-weight: bold;
}
a:hover, input[type="submit"]:hover, button:hover  {
	color: white;
	background-color: black;
}

/* Class for when a link element is active (is the page being accessed) */
.active {
	background-color: #000;
	color: white;
}

/*  Forms, all must have: 
	- title
	- fields inside divs 
	- each field with one label and one input
	- Submit button
	
	If more elements are needed, add it on the element module.css file. 
*/
.form {
	min-width: 320px;
	max-width: 600px;
	display: flex;
	flex-direction: column;
	gap: 30px;
}
/* Title */
.form > div:nth-child(1) {
	text-align: center;
	border-bottom: 2px solid black;
	padding-bottom: 10px;
	margin-top: 20px;
}
/* Each field */
.form > div {
	display: flex;
	flex-direction: column;
	gap: 4px;
}
/* Each Label */
.form > div > label {
	height: 10px;
	display: flex;
	align-items: center;
	margin-right: 1em;
	flex-basis: 32%;
	text-align: left;
}
/* Each input */
.form > div > input {
	height: 45px;
	padding: 5px;
	border: 3px double black;
}
/* Submit input */
.form > div > input[type="submit"] {
	min-height: 60px;
	width: 100%;
	align-self: center;
	border-style: solid;
}
/* When a submit button is pressed, it gets this 'loadingButton' class*/
.form > div > input[type="submit"].loadingButton {
	background-color: black;
	color: white;
}

/* These divs are used when there is the need to show
	- error: usually apiErrors, or user input errors.
	- warning: Any custom message you wanna show. Barely used.
	- success: usually when an api has completed its task.
*/
.error > p > span {
	color: red;
}
.warn > p > span {
	color: orange;
}
.success > p > span {
	color: green;
}

/* REMOVE THIS */
textarea::placeholder {
	text-align: center;
}
textarea {
	border: none;
	padding: 10px 5px;
}