.createpost {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
}

.createpostform {
	width: 700px;
	gap: 10px;
}
.createpostform > div {
	display: flex;
	margin: 10px 0px;
}

.wordcounterlimitreached {
	color: red;
}

/* Form Title */
.createpostform > .titleofform {
	align-items: center;
	justify-content: center;
	margin-top: 20px;
}

/* Title input */
.createpostform > .titlearea {
	height: 60px;
	gap: 5px;
}
.createpostform > .titlearea > input {
	flex-basis: 85%;
	border: 1px solid black;
	padding: 0px 5px;
}
.createpostform > .titlearea > div {
	flex-basis: 15%;
	border: 1px solid black;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* Desc input */
.createpostform >.descriptionarea {
	height: fit-content;
	gap: 5px;
}
.createpostform >.descriptionarea > textarea {
	flex-basis: 85%;
	border: 1px solid black;
	resize: vertical;
	min-height: 200px;
}
.createpostform >.descriptionarea > div {
	flex-basis: 15%;
	border: 1px solid black;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0px 5px;
}

/* Tags area */
.createpostform > .keywordsarea {
	padding: 10px;
	border: 2px solid black;
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.createpostform > .keywordsarea > div:nth-child(3) {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.createpostform > .keywordsarea > div:nth-child(3) > div {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.createpostform > .keywordsarea > div:nth-child(3) > div > label {
	flex-basis: 20%
}
.createpostform > .keywordsarea > div:nth-child(3) > div > input {
	height: 45px;
	padding: 0px 5px;
}

/* TTL of post */
.createpostform > .expiresarea {
	border: 2px solid black;
	padding: 10px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.createpostform > .expiresarea > div:nth-child(3) {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.createpostform > .expiresarea > div:nth-child(3) > div {
	display: flex;
	gap: 10px;
}

/* Quiz area*/
.createpostform > .quizarea {
	display: flex;
	flex-direction: column;
	border: 2px solid black;
	padding: 10px;
}
.createpostform > .quizarea > .linksarea {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.createpostform > .quizarea > .linksarea > div {
	height: 50px;
	gap: 10px;
	display: flex;
	align-items: center;
}
.createpostform > .quizarea > .linksarea > div > label {
	height: 40px;
	flex-basis: 25%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.createpostform > .quizarea > .linksarea > div > input {
	height: 40px;
	flex-basis: 80%;
	padding: 0px 5px;
}
.createpostform > .quizarea > .buttonarea {
	display: flex;
	gap: 10px;
	margin-top: 5px;
}
.createpostform > .quizarea > .buttonarea > button {
	flex-basis: 50%;
	height: 60px;
	border-width: 2px;
}

/* Submit button */
.createpostform > .buttonarea {
	height: fit-content;
	display: flex;
	justify-content: center;
}
.createpostform > .buttonarea > input[type="submit"] {
	height: 60px;
	width: 100%;
	padding: 10px;
}