.createpost {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
}

.createpostform {
	width: 700px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.createpostform > div {
	border: 2px solid black;
	display: flex;
	padding: 5px;
}

/* Form Title */
.createpostform > div:nth-child(1) {
	align-items: center;
	justify-content: center;
}

/* Title input */
.createpostform > div:nth-child(2) {
	height: 60px;
	gap: 5px;
}
.createpostform > div:nth-child(2) > input {
	flex-basis: 85%;
	border: 1px solid black;
}
.createpostform > div:nth-child(2) > div {
	flex-basis: 15%;
	border: 1px solid black;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* Desc input */
.createpostform > div:nth-child(3) {
	height: fit-content;
	gap: 5px;
}
.createpostform > div:nth-child(3) > textarea {
	flex-basis: 85%;
	border: 1px solid black;
	resize: vertical;
	min-height: 200px;
}
.createpostform > div:nth-child(3) > div {
	flex-basis: 15%;
	border: 1px solid black;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0px 5px;
}


/* Add quiz */
.createpostform > div:nth-child(4) {
}
/* Submit button */
.createpostform > div:nth-child(5) {
}
/* errorarea */
.createpostform > div:nth-child(6) {
}